.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 1000px; /* Aumenta el ancho máximo para más espacio */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto; /* Añade scroll si el contenido es muy largo */
  }
  
  .modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
  }
  
  .modal-section {
    width: 100%; /* Asegura que cada sección ocupe todo el ancho */
    margin-bottom: 30px; /* Espacio entre las tablas y gráficos */
  }
  
  .modal-table {
    width: 100%; /* Asegura que las tablas ocupen todo el ancho del modal */
    margin-bottom: 20px;
    display: flex;
    justify-content: center; /* Centra la tabla */
  }
  
  .modal-table table {
    width: 80%; /* Ajusta el tamaño de la tabla */
    border-collapse: collapse;
  }
  
  .modal-table th, .modal-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .modal-chart {
    width: 100%; /* Ajusta el ancho del contenedor del gráfico */
    display: flex;
    justify-content: center; /* Centra el gráfico */
    margin-bottom: 20px;
  }
  
  .bg-custom-background {
    background-color: #1a202c; /* Color de fondo oscuro */
    height: 100vh; /* Ajusta la altura para ocupar toda la pantalla */
    
  }
  
  .bg-custom-gradient {
    position: absolute;
    bottom: 0;
    left: -20%;
    right: 0;
    top: -10%;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background: radial-gradient(circle farthest-side, rgba(255, 0, 182, 0.15), rgba(255, 255, 255, 0));
  }
  
  .bg-custom-gradient-right {
    position: absolute;
    bottom: 0;
    right: -20%;
    top: -10%;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background: radial-gradient(circle farthest-side, rgba(255, 0, 182, 0.15), rgba(255, 255, 255, 0));
  }
  
  .cve-info-container {
    position: relative;
    max-width: 1200px; /* Ajusta según sea necesario */
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    overflow-y: auto; /* Permite scroll vertical */
    height: calc(100vh - 40px); /* Ajusta la altura para permitir el scroll */
    box-sizing: border-box; /* Asegura que el padding se incluya en la altura */
  }
  