

/* src/App.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Para centrar verticalmente en toda la altura de la ventana */
}

.logo {
  margin-bottom: 20px; /* Espacio entre el logo y los botones */
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre los botones */
}

